  $--box-sizing: border-box;
  $--theme-text-color: black;
  $--theme-button:#dd4a48;
  $--theme-button-1:#ccc5b9;
  $--theme-background:#ffffff;
  $--theme-color-p:#808080;
  $--theme_color_hover1:#98d4ae;

